---
interface Props {
	title: string;
	body: string;
	href: string;
}

const { href, title, body } = Astro.props;
---

<li class="link-card">
	<a href={href}>
		<h2>
			{title}
			
		</h2>
		<p>
			{body}
		</p>
	</a>
	<button>Button</button>
</li>
<style>


	.link-card {
		list-style: none;
		padding: 16px;
		border: 2px solid #000;
		box-shadow: 8px 8px 0px 0px #000;
	}
	.link-card > a {
		text-decoration: none;
		line-height: 1.4;
		background-color: #23262d;
	}
	h2 {
		margin: 0;
		font-size: 1.25rem;
		/* transition: color 0.6s cubic-bezier(0.22, 1, 0.36, 1); */
	}
	p {
		margin-top: 0.5rem;
		font-size: 1rem;
		color: #000;
		margin-bottom: 0;
	}
	.link-card:is(:hover, :focus-within) {
	
	}
	.link-card:is(:hover, :focus-within) h2 {
		
	} 
</style>
